:root {
    --main-color: #222260;
    --primary-color2: #22226099;
    --primary-color3: #22226066;
    --primary-green: #42AD00;
    --primary-grey: #aaa;
    --primary-accent: #F56692;
    --primary-delete: #FF0000;
  }