*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: "Nunito", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    overflow: hidden;
    color: rgba(44, 44, 85, 0.6);
}

.App{
    height: 100vh;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    main{
        flex: 1;
        background: rgba(252, 246, 249, 0.712);
        border: 3px solid #FFFFFF;
        backdrop-filter: blur(4px);
        border-radius: 32px;
        overflow: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            width: 0;
        }
    }
}